/* h1,p,
a{
    color: rgb(48, 209, 36);
} */
li{
    list-style-type: square;
}
body h1+p .special{
    color: rgb(223, 136, 16);
    font-weight: bold;
    background-color: royalblue;
    padding: 5px;
}
a:hover{
    color: aqua;
    text-decoration: dotted;
}
#heading{
    color: rgb(214, 36, 125);
    text-decoration: line-through;
}
p#para{
    color: yellow;
    text-shadow: 0ex;
}
li[class]{
    font-size: large;
}
li[class="special"]{
    color: blue;
}
li[class~="a"]{
    text-decoration:overline;
}
